* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

body {
  height: 100vh;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: grid;
  justify-content: center;
  align-content: center;
}

h1 {
}

.display {
  font-size: 4rem;
  background-color: black;
  color: azure;
  width: fit-content;
}

li:hover {
  background-color: grey;
}
