.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2rem;
  background-color: #636b7a;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 3px black;
}
.user-text {
  text-align: center;
  width: 15rem;
  background-color: #828fa7;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

.user-text * {
  margin: 0.25rem;
}
.user-text > p {
  font-size: 0.9rem;
}
.user-text h2 {
  color: aliceblue;
}

.user img {
  border-radius: 50%;
}

body {
  min-height: 100vh;
  background-color: azure;
}

footer {
  padding-top: 1rem;
}
footer :nth-child(2) {
  font-size: 0.9rem;
  color: #282c34;
}
